body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.loading {
    max-width: 50%;
    line-height: 1.4;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }

.author {
    font-weight: normal;
    font-size: 0.9rem;
    color: rgba(189,189,189 ,1);
    margin: 0.6rem 0 2rem 0;
    display: block;
  }

.anim {
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 5px solid green;
    border-left-color: lightgreen;
    border-top-color: lightgreen;
    border-radius:50%;
    animation: rotate 600ms linear infinite;
}

@keyframes rotate{
    to {
        transform: rotate(1turn);
    }
}